*.wav
*.gz
ExtractDatasetIvan/part0.h5
ExtractDatasetIvan/part1.h5
ExtractDatasetIvan/part10.h5
ExtractDatasetIvan/part11.h5
ExtractDatasetIvan/part12.h5
ExtractDatasetIvan/part13.h5
ExtractDatasetIvan/part14.h5
ExtractDatasetIvan/part15.h5
ExtractDatasetIvan/part16.h5
ExtractDatasetIvan/part17.h5
ExtractDatasetIvan/part18.h5
ExtractDatasetIvan/part19.h5
ExtractDatasetIvan/part2.h5
ExtractDatasetIvan/part20.h5
ExtractDatasetIvan/part21.h5
ExtractDatasetIvan/part22.h5
ExtractDatasetIvan/part23.h5
ExtractDatasetIvan/part3.h5
ExtractDatasetIvan/part4.h5
ExtractDatasetIvan/part5.h5
ExtractDatasetIvan/part6.h5
ExtractDatasetIvan/part7.h5
ExtractDatasetIvan/part8.h5
ExtractDatasetIvan/part9.h5
ExtractDatasetMix/part0.h5
ExtractDatasetMix/part1.h5
ExtractDatasetMix/part10.h5
ExtractDatasetMix/part11.h5
ExtractDatasetMix/part12.h5
ExtractDatasetMix/part13.h5
ExtractDatasetMix/part14.h5
ExtractDatasetMix/part15.h5
ExtractDatasetMix/part16.h5
ExtractDatasetMix/part17.h5
ExtractDatasetMix/part18.h5
ExtractDatasetMix/part19.h5
ExtractDatasetMix/part2.h5
ExtractDatasetMix/part20.h5
ExtractDatasetMix/part21.h5
ExtractDatasetMix/part22.h5
ExtractDatasetMix/part23.h5
ExtractDatasetMix/part3.h5
ExtractDatasetMix/part4.h5
ExtractDatasetMix/part5.h5
ExtractDatasetMix/part6.h5
ExtractDatasetMix/part7.h5
ExtractDatasetMix/part8.h5
ExtractDatasetMix/part9.h5
Submission/Final/Final_Team3_Farhan Tandia_Ivan Surya H.pptx
Github Ignore/*
